/* ************* MAIN ************* */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
}

main
{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

/* ************* COUNTER ************* */

#timer
{
    color: rgb(250, 50, 117);
    display: flex;
    font-family: "Rubik", serif;
    font-size: 40px;
}

#time
{
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
}

/* ************* TIMER BUTTONS ************* */

.lgt, .drk
{
    background-color: rgb(250, 50, 117);
    color: white;
    border-style: none;
    border-radius: 20px;
    padding: 18px 40px;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.4s;
}

#stop
{
    margin-left: 5px;
    margin-right: 5px; 
}

#div_buttons
{   
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.lgt:hover /* ON LIGHT MODE */
{
    background-color: rgba(250, 50, 117, 0.815);
    transform: scale(1.04);
    box-shadow: 1px 1px 3px 3px rgba(0, 162, 255, 0.637);
}

.drk
{
    background-color: rgb(212, 0, 255);
    color: black;
}

.drk:hover /* ON DARK MODE */
{
    transform: scale(1.04);
    box-shadow: 2px 2px 5px 1px rgb(255, 0, 221);
    /* box shadow didn't satisfy me much. change it later (?) */
}

/* ************* DARK/LIGHT MODE BUTTON ************* */

#mode
{
    display: flex;
    justify-content: end;
    margin: 20px;
}

#dark, #light
{   
    border-style: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.4s;
}

#dark
{
    background-color: black;
    color: white;
}

#light
{
    background-color: white;
    color: black;
}

#dark:hover
{
    transform: scale(1.04);
    box-shadow: 1px 1px 3px 3px rgba(0, 162, 255);
}

#light:hover
{
    transform: scale(1.04);
    box-shadow: 1px 1px 3px 3px rgb(255, 0, 255);
}

/* ALL BUTTONS */

button:focus, button:active
{
    outline: none;
    box-shadow: none;
}