/* ************* MAIN ************* */
*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: rgb(255, 255, 255);
    /* background wheat looked nice */
}

main
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ************* COUNTER ************* */

#time
{
    color: rgb(250, 50, 117);
    display: flex;
    font-family: "Rubik", serif;
    font-size: 40px;
}

/* ************* TIMER BUTTONS ************* */

.buttons
{
    background-color: rgb(250, 50, 117);
    color: white;
    border-style: none;
    border-radius: 20px;
    padding: 20px 45px;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.4s;
}

#stop
{
    margin-left: 5px;
    margin-right: 5px; 
}

#div_buttons
{   
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

button:hover
{
    background-color: rgba(250, 50, 117, 0.815);
    transform: scale(1.04);
    box-shadow: 1px 1px 3px 3px rgba(0, 162, 255, 0.637);
}

/* ************* DARK/LIGHT MODE BUTTON ************* */

/* dark button is not centered aligned. */

#dark, #light
{   
    border-style: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.4s;
}

#dark
{
    background-color: black;
    color: white;
}

#light
{
    background-color: white;
    color: black;
}